.containerFixo {
    position: fixed;
    background-color: #f8f8f8;
    z-index: 100;
}

.perfilIconsContainer {
    display: flex;
    justify-content: space-between;
    /* Adiciona espaço entre .editarPerfil e .iconesDireita */
    padding-top: 27px;
    margin-bottom: 23px;
}

.editarPerfil {
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.containerUserEdit {
    position: relative;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}

.editarPerfilIcon {
    position: absolute;
    right: 0;
}

.nomeUtilizador {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.iconesDireita {
    position: relative;
    width: max-content;
    margin-right: 24px;
}

.settingsIcon {
    display: block;
    margin-bottom: 8px;
}

.logoutIcon {
    display: block;
    margin-top: 8px;
}

.detalhesCentraisPerfil {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 24px;
    /* top | left and right | bottom */
    padding: 18px 24px 12px;
}

.contagemContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.artigosContainer p {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}

.artigosEstrelas p {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}

.artigosContainer span {
    font-size: 20px;
    font-weight: 600;

}

.artigosEstrelas span {
    font-size: 20px;
    font-weight: 600;
}

hr.divisorPerfil {
    border-top: 0.5px solid #e4e4e4;
    border-radius: 5px;
    opacity: 1;
}

.detalhesCentraisPerfil .divisorPerfil {
    margin-bottom: 9px;
    margin-top: 18px;
}

.editarBiografia {
    font-size: 12px;
    text-align: center;
}

.tituloBiografiaContainer {
    margin-bottom: 7px;
}

.tituloBiografia {
    font-weight: 600;
    display: inline-block;
    margin-right: 3px;
}

.textoBiografia {
    margin: 0;
}

.divisorPerfil.fundo {
    margin: 18px 24px 0;
}

.sectionsContainer {
    padding-top: 335px;
    overflow-y: auto;
    margin-bottom: 120px;
}

.sectionTitulo {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 13px;
    font-weight: 500;

    a {
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        color: #00C17C;
    }
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 24px;
}

.articles img {
    width: 84px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.pecaContainer {
    position: relative;
}

.articles .iconPeca {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: none;
    border-radius: 0;
    box-shadow: none;
    right: 0;
    padding: 3px;
}