/*botao do componente reutilizavel*/
.btnComponent {
    background-color: #343541;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 144px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: 1px transparent;
}